.home {
    flex-wrap: wrap;
  }
  .home .card {
    background-color: rgba(255, 255, 255, 0.93);
    width: 16rem;
    height: auto;
  }
  .home .card-name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .home .card-price {
    color: green;
    font-weight: bold;
  }
  .home .card-title {
    color: rgb(0, 0, 0);
  }
  .home .bt{
    border-radius: 0;
    width: 50% !important;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    margin-right: 4px;
  }
  
  .home .card-text {
    color: rgb(90, 89, 89);
  }

  .home .card img{
    transition: .5s;
    height: 15rem !important; 
  }
  
  .home .card img:hover {
    transform: scale(0.95);
  }
  
  .home .card-img-top {
    height: 300px !important;
  }
  